/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";

 body{
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #eee;
 }

 .container{
   background-color: white;
   text-align: center;
   padding: 20px;
 }

 ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li.nav_link {
  float: left;
}

li.nav_link a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover, .dropdown:hover .dropbtn {
  background-color: #12d600;
}

ul.nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/*form*/

.form_card{
  border: solid 2px black;
  background-color: #ffffff;
  border-radius: 10px;
  width: 700px;
  height: auto;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 5px 5px 5px darkgray;
  h2{
    text-align: center;
  }
  input[type='submit']{
    border: none;
  }

  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date']{
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 1px;
    padding-left: 4em;
    background-color: white;
    &:focus{
      outline: none;
    }
  }
  .field{
    width: 90%;
    margin: 40px auto;
    .form_wrap{
      position: relative;
    }
    .focus_line{
      transition: 0.4s;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: 0.4s;
      background-color: #04e25a;
    }
    label{
      font-size: 12px;
      position: absolute;
      top: 4px;
      left: 0;
      width: 100%;
      transition: 0.3s;
      letter-spacing: 0.5px;
      color: #aaaaaa;
    }
    .entry_field{
      padding: 4px 0;
      border: 0;
      border-bottom: 1px solid #1b2538;
      background-color: transparent;
    }
  }
  .select_field{
    position: relative;
    label{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 50%;
      select{
        position: relative;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        
        display: block;
        width: 100%;
        max-width: 320px;
        height: 50px;
        
        margin: 5px 0px;
        padding: 0px 24px;
        font-size: 16px;
        line-height: 1.75;
        color: #333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        -ms-word-break: normal;
        word-break: normal;
        &.is_error{
          border-color: #f00;
        }
      }
      &:after{
        content: '<>';
        font: 17px "Consolas", monospace;
        color: #333;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 220px;
        /*Adjust for position however you want*/
        
        top: 10px;
        padding: 0 0 2px;
        border-bottom: 1px solid #999;
        /*left line */
        
        position: absolute;
        pointer-events: none;
      }
    }
  }
  .rich_text_field{
    width: 90%;
    margin: 30px auto;
  }
  ul#tag-input{
    border: none;
    border-bottom: 1px solid #04e25a;
    border-radius: 0;
    margin-top: 5px;
    li.tagit-choice{
      background-color: #04e25a;
      border: 1px solid #04e25a;
      span{
        color: white;
      }
    }
  }
  .textarea_field{
    margin: 20px auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    label{
      display: block;
    }
    textarea{
      width: 100%;
      height: 60px;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid black;
      border-radius: 5px;
    }
  }
  .date_field{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    input{
      &.is_error{
        border-color: #f00;
      }
    }
  }
  .error_message{
    height: 20px;
    span{
      font-size: 15px;
      color: #f00;
    }
  }
}
.entry_field:focus ~ .focus_line{
  width: 100%;
  transition: 0.4s;
}
.entry_field:focus ~ label{
  font-size: 12px;
  top: -16px;
  transition: 0.3s;
  color: #04e25a;
}
select::-ms-expand {
  display: none;
}


#value_field.is_error{
  border-color: red;
  &:focus{
    border-color: rgb(169, 169, 169);
  }
}

/*flash*/
.notice{
  padding: 15px;
  border: 1px solid #00ff09;
  background-color: #c3ffc5;
  border-radius: 5px;
  color: #189e33;
  margin: 0;
}
.alert{
  padding: 15px;
  border: 1px solid #fb3b00;
  background-color: #ffc2b0;
  border-radius: 5px;
  color: #c42c11;
  margin: 0;
}

/*post*/

.article-wrap{
  margin-top: 20px;
  min-height: 230px;
  filter: drop-shadow(5px 5px rgb(168, 168, 168));
  transition: .3s;
  .article{
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    // min-height: 200px;
    height: 200px;
    width: 50%;
    &:hover{
      filter: drop-shadow(5px 5px 15px rgb(168, 168, 168));
      transition: .3s;
      transform: translate(-5px,-5px);
    }
    .body-box{
      position: relative;
      width: 100%;
      box-sizing: border-box;
      // overflow: hidden;
      background: white;
      height: 100%;
      .article-body{
        .inner{
          padding: 15px;
          overflow: hidden;
          height: 100px;
          a{
            color: black;
          }
        }
        .publish-time-wrap{
          width: 100%;
          position: absolute;
          top: 130px;
          overflow: hidden;
          background: white;
          border-top: 1px dotted rgb(135, 132, 135);
          padding: 0;
          text-align: right;
          color: rgb(135, 132, 135);
          // margin-bottom: 20px;
          .tag_wrap{
            margin: 5px;
            text-align: left;
          }
        }
      }
    }
  }
}
.tag_badge{
  text-align: center;
  display: inline-block;
  background-color: #04e25a;
  border-radius: 5px;
  min-width: 25px;
  height: 15px;
  padding: 3px 5px;
  margin: 2px;
  font-size: 12px;
  line-height: 15px;
  a{
    color: white;
  }
}
.tag_icon{
  text-align: center;
  display: inline-block;
  background-color: #04e25a;
  border-radius: 5px;
  color: white;
  min-width: 35px;
  height: 1.2em;
  padding: 3px 5px;
  // margin: 2px;
  font-size: 1em;
  line-height: 1.2em;
}

/*btn*/
.btn{
  width: 100px;
  height: 50px;
  background-color: #04e25a;
  text-align: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
  color: white;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  input{
    font-size: 20px;
    height: 100%;
    display: block;
    margin: auto auto;
    color: white;
  }
}
.btn_delete{
  width: 120px;
  height: 50px;
  background-color: #ff4101;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-size: 10px;
  display: block;
}
a{
  &.btn_item{
    width: 80px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
  }
  &.btn_delete_item{
    background-color: #ff4101;
  }
  &.btn_edit_item,
  &.btn_join_room{
    background-color: #04e25a;
  }
  &.btn_exit_room{
    background-color: #ffcb07;
  }
  &.new_regist_btn{
    background-color: #04e25a;
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
  &.btn_delete_invite{
    background-color: #ff4101;
    width: 120px;
    height: 50px;
    line-height: 50px;
  }
}
